.markdown {
    line-height: 1.5;
    max-width: 700px;

    h2,
    h4 {
        font-weight: 500;
        color: $hover;
    }
    h3 {
        color: $teal;
    }
    p {
        font-weight: 400;
    }
    ul,
    li {
        font-size: 1.1rem;
    }
    h4 {
        margin-bottom: 0;
    }

    .contributors {
        li {
            display: inline;
            margin-right: 8px;
        }
    }

    .markdown-content {
        border: 2px solid $purple;
        box-shadow: 3px 3px 3px rgba($shadow, 0.2);
        padding: 1rem 2rem;
    }

    .markdown-content p,
    li {
        line-height: 2;
    }
    .markdown-content li {
        margin-bottom: 1rem;
    }
}
