.sidebar {
    width: 300px;
    z-index: 5;
    top: 10rem;
    border: 2px double $text;
    background-color: rgba(255, 255, 255, 0.021);
    max-height: 20rem;
    overflow: scroll;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    left: 70%;
    position: fixed;
    box-shadow: 2px 2px 5px $shadow;

    div {
        margin: 0.7rem 0;
    }
}

// adapted for mobile
@media (max-width: 1100px) {
    .sidebar {
        position: relative;
        left: 0%;
        top: 50%;
    }
}
