.sidebar {
    width: 300px;
    z-index: 5;
    top: 10rem;
    border: 2px double $text;
    background-color: rgba(255, 255, 255, 0.021);
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    left: 70%;
    position: fixed;
    box-shadow: 2px 2px 5px $shadow;

    div {
        margin: 1rem 0;
    }
}
